<nav xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/" th:text="${siteName}">Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>

    <ul class="navbar-nav">

      <li class="nav-item active">
        <a th:if="${loggedin}" class="nav-link" th:href="@{/}">Timeline</a>
      </li>
      <li class="nav-item active">
        <a th:if="${loggedin}" class="nav-link" style="margin-right: 20px" th:href="@{/user/} + ${username}" th:text="|Hello ${username}|">Hello Demo</a>
      </li>
      <li class="nav-item active">
        <a th:if="${loggedin}" class="nav-link" style="margin-right: 20px" th:href="@{/global}">All posts</a>
      </li>
      <li class="nav-item active">
        <a th:if="${loggedin}" id="logout" class="nav-link" href="#">Logout</a>
      </li>

      <div th:if="${loggedin}" class="form-inline ui-widget my-2 my-lg-0">
        <input id="search" class="form-control autocomplete mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0"style="display: none;" type="submit">Search</button>
        <ul class="dropdown-menu" role="menu">
        </ul>
      </div>

    </ul>
  </div>
  <script>
      $("#logout").click(function() {
          $.get({
              url: "api/v1/logout",
              success: function(response) {
                  window.location = "/";
              }
          });
      });

      $("#search").keyup(function(event) {

          if(!$('#search').val().length){
              return;
          }
          if (event.keyCode === 13) {
              window.location = "/search?skipCount=0&value=" + $('#search').val();
              return;
          }
          console.log('search ' + $('#search').val());
          $.ajax({
              url: "/api/v1/search?count=10&skipCount=0&value=" + $('#search').val(),
              type: "GET",
              success: function(response) {
                  response = $.map(response, function(el) { return el.name });
                  console.log("result:");
                  console.log(response);

                  $(".autocomplete").autocomplete({
                      source: response
                  });
              }
          });
      });
  </script>
</nav>


