<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">

<title th:text="|${siteName} - Login|">Demo - Login</title>
</head>

<body>

<div th:replace="header :: header">...</div>





<div class="container col-lg-4" style="margin-top: 10%">




<div class="card">
  <h4 id="loginHeader" class="card-header">Login</h4>
  <h4 id="registerHeader" class="card-header" style="display: none">Register</h4>
  <div class="container col-lg-11" style="margin-top: 10px !important; margin-bottom: 10px !important">
  
  
  
  <form id="loginInput" name="">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="email" class="form-control" id="loginUsername" name="uid" aria-describedby="emailHelp" placeholder="Benutzername">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="loginPassword" name="pw" placeholder="Password">
  </div>
 <div id="loginError" style="display: none;" class="alert alert-danger" role="alert">
  Ungültiger Benutzername oder Password!
</div>
  
  <button id="loginButton" type="button" class="btn btn-outline-success float-right">Login</button>
  <button style="display: none;" id="backToLogin" type="button" class="btn btn-outline-success float-left">Back to Login</button>
</form>
 <button id="registerButton" class="btn btn-outline-primary my-2 my-sm-0"style="float: left" type="button">Register</button>
</div>
</div>


</div>





<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>



<script>
$( document ).ready(function() {
var registerButton = document.getElementById('registerButton');
var loginButton = document.getElementById('loginButton');


registerButton.addEventListener('click', function() {
$('#loginHeader').hide();
$('#loginButton').hide();
$('#registerHeader').show();
$('#backToLogin').show();
var recipient = $('#loginInput').serializeArray();
console.log(recipient);
var output = {}; // Declare an object.
recipient.forEach(function(v, i) {
output[v.name] = v.value; // Assign the current value to the current key.
})
console.log(output);
$.ajax({
    url: "http://127.0.0.1/api/v1/register",
    type: "POST",
    data: JSON.stringify(output), // Send the object.
    contentType: "application/json",
    statusCode: {
        200: function (response) {
        	
        },
        401: function (response) {
        	
        }
     },
    success: function(response) {
      console.log(response);
    }
    
    
  });
$('#registerButton').css('float','right');
$('#registerButton').animate({
	left: '100px'
},100);
}, false);
var myEl = document.getElementById('backToLogin');
myEl.addEventListener('click', function() {
$('#loginHeader').show();
$('#loginButton').show();
$('#registerHeader').hide();
$('#backToLogin').hide();
$('#registerButton').css('float','left');
$('#registerButton').animate({
	left: '100px'
},100);
}, false);






loginButton.addEventListener('click', function() {
	
	var recipient = $('#loginInput').serializeArray();
	console.log(recipient);
	var output = {}; // Declare an object.
	recipient.forEach(function(v, i) {
	output[v.name] = v.value; // Assign the current value to the current key.
	})
	console.log(output);
	$.ajax({
	    url: "/api/v1/login",
	    type: "POST",
	    data: JSON.stringify(output), // Send the object.
	    contentType: "application/json",
	    statusCode: {
	        200: function (response) {
	        	window.location = "/";
	        	
	        },
	        401: function (response) {
	        	$("#loginError").show().delay(3000).fadeOut("slow");
	        }
	     },
	    success: function(response) {
	      console.log(response);
	    }
	    
	    
	  });
	}, false);
	
	
	
	
$("html").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#loginButton").click();
    }
});

// $(function() {
//   var recipient = $('#loginInput').serializeArray();
//   console.log(recipient);
//   var output = {}; // Declare an object.
//   recipient.forEach(function(v, i) {
//     output[v.name] = v.value; // Assign the current value to the current key.
//   });
  
//   $.ajax({
//     url: "http://httpbin.org/post",
//     type: "POST",
//     data: JSON.stringify(output), // Send the object.
//     contentType: "application/json",
//     success: function(response) {
//       console.log(response);
//     }
//   });
// });
 });
</script>



</body>

</html> 