<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">

<title>Title of the document</title>
</head>

<body>



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">${siteName}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
	
	<ul class="navbar-nav">
	
		      <li class="nav-item active">
        <a class="nav-link" href="${baseUrl}/${username}">Timeline</a>
      </li>
	
	      <li class="nav-item active">
        <a class="nav-link" style="margin-right: 20px" href="#">Hallo ${username}</a>
      </li>
	  
	  
	
	
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0"style="display: none;" type="submit">Search</button>
    </form>
	</ul>
  </div>
</nav>




<div class="container col-lg-4" style="margin-top: 10%">


<div class="card border-dark mb-0" style="max-width: 100%">
  <div class="card-header">Header</div>
  
  
  <div class="card text-white bg-secondary mr-3 mb-2 ml-3 mt-1">
  <div class="card-header">${username}</div>
  <div class="card-body">
    <h4 class="card-title">${postContent}</h4>
	
  </div>
  <div class="card-footer bg-transparent">3 Seconds ago</div>
</div>



  <div class="card text-white bg-secondary mr-3 mb-2 ml-3 mt-1">
  <div class="card-header">${username}</div>
  <div class="card-body">
    <h4 class="card-title">${postContent}</h4>
	
  </div>
  <div class="card-footer bg-transparent">3 Seconds ago</div>
</div>


  <div class="card text-white bg-secondary mr-3 mb-2 ml-3 mt-1">
  <div class="card-header">${username}</div>
  <div class="card-body">
    <h4 class="card-title">${postContent}</h4>
	
  </div>
  <div class="card-footer bg-transparent">3 Seconds ago</div>
</div>


  <div class="card text-white bg-secondary mr-3 mb-2 ml-3 mt-1">
  <div class="card-header">${username}</div>
  <div class="card-body">
    <h4 class="card-title">${postContent}</h4>
	
  </div>
  <div class="card-footer bg-transparent">3 Seconds ago</div>
</div>


  <div class="card text-white bg-secondary mr-3 mb-2 ml-3 mt-1">
  <div class="card-header">${username}</div>
  <div class="card-body">
    <h4 class="card-title">${postContent}</h4>
	
  </div>
  <div class="card-footer bg-transparent">3 Seconds ago</div>
</div>
  <div class="card-body text-primary">



  </div>
</div>


</div>




<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html> 